.article-list-main-components {
  .article-list-title {
    height: 30px;
    line-height: 30px;
    border: 1px solid #1890ff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    background: rgba(130, 219, 255, 0.2);
  }
  .article-list-section {
    padding: 0 30px;
    margin-top: 20px;
    border-radius: 4px;
    background: #ffffff;
    .article-list-item {
      padding: 20px 0;
      .article-title {
        font-size: 18px;
        //font-weight: normal;
        color: #1890ff;
      }
      .article-other-info {
        display: flex;
        align-items: center;
        height: 40px;
        color: gray;
        .create-time {
          span {
            margin-left: 10px;
          }
        }
        .label {
          margin-left: 10px;
          span {
            margin-left: 10px;
          }
        }
      }
      .article-content {
        strong {
          font-size: 14px;
          font-weight: bold;
        }
        p,
        li {
          font-size: 14px;
          line-height: 22px;
        }
        li {
          list-style-type: disc;
          margin-left: 20px;
        }
        img {
          max-width: 100% !important;
        }
      }
      .article-footer {
        margin-top: 10px;
        font-size: 14px;
        text-align: right;
        a {
          color: #1890ff;
        }
        .no-content-tip {
          color: gray;
        }
      }
    }
    .article-list-item + .article-list-item {
      padding-top: 20px;
      border-top: 1px solid #dfdfdf;
    }
  }
  .ant-pagination {
    margin-top: 20px;
    text-align: center;
  }
  .none-article {
    margin-top: 20px;
    text-align: center;
    color: gray;
    .iconfont {
      font-size: 40px;
    }
    p {
      font-size: 14px;
      margin-top: 10px;
    }
  }
}
