.article-list-main-components {
  .article-list-title {
    height: 30px;
    line-height: 30px;
    border: 1px solid #1890ff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    background: rgba(130, 219, 255, 0.2);
  }
  .article-list-section {
    margin-top: 20px;
    border-radius: 4px;
    .article-list-item {
      padding: 20px 30px;
      background: #ffffff;
      border-radius: 4px;
      .article-title {
        font-size: 18px;
        //font-weight: normal;
        color: #1890ff;
      }
      .article-other-info {
        display: flex;
        align-items: center;
        height: 40px;
        color: gray;
        .create-time {
          span {
            margin-left: 10px;
          }
        }
        .label {
          margin-left: 10px;
          span {
            margin-left: 10px;
          }
        }
      }
      .article-content {
        strong {
          font-size: 14px;
          font-weight: bold;
        }
        p,
        li {
          font-size: 14px;
          line-height: 22px;
        }
        li {
          list-style-type: disc;
          margin-left: 20px;
        }
        img {
          max-width: 100% !important;
        }
      }
      .article-footer {
        margin-top: 10px;
        font-size: 14px;
        text-align: right;
        a {
          color: #1890ff;
        }
        .no-content-tip {
          color: gray;
        }
      }
    }
    .article-list-item + .article-list-item {
      margin-top: 20px;
    }
  }
  .ant-pagination {
    margin-top: 20px;
    text-align: center;
  }
  .none-article {
    margin-top: 20px;
    text-align: center;
    color: gray;
    .iconfont {
      font-size: 40px;
    }
    p {
      font-size: 14px;
      margin-top: 10px;
    }
  }
}

/*媒体查询 <1200px*/
@media (max-width: 1200px) {
}

/*媒体查询 1000px~1200px*/
@media (min-width: 1000px) and (max-width: 1200px) {
}

/*媒体查询 <768*/
@media (max-width: 768px) {
}

/*媒体查询 480px~768px*/
@media (min-width: 480px) and (max-width: 768px) {
}

/*媒体查询，大于480小于640*/
@media (max-width: 480px) {
  .article-list-main-components {
    .article-list-section {
      .article-list {
        .article-list-item {
          padding: 10px;
        }
      }
    }
  }
}
