.todo-list-main-component {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  margin: 0 auto;
  padding: 40px 20px 20px;
  background: #FFFFFF;
  transform: translateX(-50%) translateY(-80%);
  border-radius: 20px;
  h1 {
    text-align: center;
  }
  .add-event-section {
    margin-top: 20px;
    text-align: center;
    input {
      width: 200px;
      height: 30px;
      padding: 0 10px;
      border: 1px solid #DFDFDF;
      outline: none;
      &:focus {
        border: 1px solid #3385ff;
      }
    }
  }
  .event-list-section {
    height: 300px;
    margin: 20px auto 0;
    background: #F7F7F7;
    overflow: auto;
    .event-list-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 36px;
      padding: 0 10px;
      font-size: 16px;
      &:hover {
        background: #DFDFDF;
      }
      i {
        font-size: 20px;
        cursor: pointer;
        &:hover {
          color: #3385ff;
        }
      }
    }
  }
}
