html,
body {
  background: #e9eaed;
}

.app {
  height: 100%;
  background: #e9eaed;
  .header-container {
    background: #1c2327;
    &::before {
      background: #000
        linear-gradient(
          to left,
          #4cd964,
          #5ac8fa,
          #007aff,
          #34aadc,
          #5856d6,
          #ff2d55
        );
      content: "";
      height: 5px;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .header-container-package-el {
      display: flex;
      align-items: center;
      max-width: 1200px;
      margin: auto;
      padding: 10px;
      padding-top: 15px;
      .main-title {
        display: flex;
        align-items: flex-end;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        h1 {
          margin-left: 10px;
          font-size: 22px;
          font-weight: normal;
          color: #f7f7f7;
          span {
            margin-left: 10px;
            font-size: 14px;
            // color: #333333;
          }
        }
      }
      .main-nav {
        flex: 1;
        .aside-nav-list-section {
          display: flex;
          flex-direction: row-reverse;
          .aside-nav-list-item {
            width: 60px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background: #f7f7f7;
            &:hover {
              background: #dfdfdf;
            }
            a {
              display: block;
              height: 100%;
              color: #1890ff;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .content-container {
    height: calc(100vh - 140px);
    .content-container-package-el {
      max-width: 1200px;
      //height: 100%;
      margin: auto;
    }
  }
}
